//Variables

//******************** Font family ********************
$font-family: 'Manrope', sans-serif;

//******************** Colors ********************
$app-background-color: rgb(39, 39, 39);
$main-text-color: #fff;
$text-color: #000;
$background-color-date: #fff;
$background-color-btn: #fff;
$background-color-btn-hover: #000;
$main-border-color: #fff;
$text-shadow: #181818;
$sub-border-color: #000;

//******************** Dimensions ********************//
$border-radius: 1rem;
$inner-border-radius: 0.5rem;
$border-width: 8px;
$actual-container-width: 784px;
$actual-container-height: 284px;
$title-members-height: 120px;
$date-height: 52px;
$title-font-size: 30px;
$date-font-size: 20px;
$title-width: 455px;
