//Importing variables.scss
@use './variables' as v;

//Importing templates.scss
@forward './templates.scss';

//Importing Google fonts - I dont know whats the actual font ont the main image, but i choose this font,
//because it almost the same
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

//Universal selector
* {
  margin: 0;
  padding: 0;
  color: v.$main-text-color;
}

//Main App
.App {
  font-family: v.$font-family;
  background-color: v.$app-background-color;
  @extend %main-app-properties;

  //Only for the Border
  .container-border-white {
    @extend %container-border-properties;

    //Main wrapper for actual container
    .wrapper {
      z-index: 2;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: v.$actual-container-width;
      height: v.$actual-container-height;
      border: v.$border-width solid v.$sub-border-color;
      border-radius: v.$border-radius;

      :nth-child(1) {
        z-index: 2;

        .container-members {
          .members {
            &:nth-child(2) {
              display: none;
            }

            &:nth-child(3) {
              display: none;
            }
          }
        }
      }

      :nth-child(2) {
        z-index: 2;

        .container-members {
          .members {
            &:nth-child(1) {
              border-right: v.$border-width solid v.$sub-border-color;
              text-align: left;
              padding-left: 0.5rem;
            }

            &:nth-child(2) {
              border-right: v.$border-width solid v.$sub-border-color;
            }

            &:nth-child(3) {
              text-align: right;
              padding-right: 0.8rem;
            }
          }
        }
      }

      :nth-child(3) {
        z-index: 2;

        .container-members {
          .members {
            &:nth-child(1) {
              border-right: v.$border-width solid v.$sub-border-color;
              padding-right: 4rem;
            }
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }

      .container-actual {
        position: absolute;
        width: v.$actual-container-width;
        height: v.$actual-container-height;
        border-radius: none;

        //Containers are display: none; by default
        @extend %display-none-containers;

        //Title div
        .container-title {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-right-radius: v.$inner-border-radius;
          border-top-left-radius: v.$inner-border-radius;
          height: v.$title-members-height;

          //Title
          .title {
            font-size: v.$title-font-size;
            text-transform: uppercase;
            text-shadow: 2px 3px v.$text-shadow;
            width: v.$title-width;
            line-height: 1.6rem;
          }
        }

        //Date div
        .container-date {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: v.$background-color-date;
          height: v.$date-height;
          border-top: v.$border-width solid v.$sub-border-color;
          border-bottom: v.$border-width solid v.$sub-border-color;

          //Date
          .date {
            color: v.$text-color;
            font-size: v.$date-font-size;
          }
        }

        //Members div
        .container-members {
          height: v.$title-members-height;
          border-bottom-right-radius: v.$inner-border-radius;
          border-bottom-left-radius: v.$inner-border-radius;
          display: flex;
          justify-content: space-evenly;

          //Members
          .members {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: v.$title-font-size;
            height: 123px;
            width: 266.6px;
            text-shadow: 2px 3px v.$text-shadow;
          }
        }
      }
    }

    //Top right corner Toggle button
    button {
      @extend %btn-styling;
    }
  }
}

//Toggle class for container actual
.show {
  display: flex !important;
}
